{% extends "WebApp/base.html" %}

{% block content %}

<div class="content" style="margin-top: 100px;">
  <div class="card"
    style="width: 150px; align-items: center; background-color:#212529;position: fixed; margin-left: 20px; border-color: #ffffff;">
    <p style="color: #ffffff; font-size: 1.5rem;">total: ${{importe_total_carro}}</p>
    <a href="{% url 'carro:carro' %}" class="btn btn-outline-light" style="width:150px;">Ver carrito <i
        class="bi bi-cart3"></i></a>
  </div>
  <div class="card my-4 mx-auto"
    style="max-width: 864px; background-color:#212529; border-radius: 20px; border-color: #ffffff;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6 text-center">
          <img src="{{producto.imagen.url}}" alt="Nombre del producto" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-6 d-flex align-items-center">
          <div class="text-center" style="color: #fff; margin-left: auto; margin-right: auto;">
            <p style="color: #999; font-size: 1.5rem;">{{producto.categoria}}</p>
            <h2 style="font-size: 2rem;">{{producto.nombre}}</h2>
            <h3 style="color: #03b303; font-size: 2rem;">Precio: ${{producto.precio}}</h3>
            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-outline-light">Agregar al carrito</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

{% endblock %}