{% extends "WebApp/base.html" %}

{% block content %}
    <div class="content">
        <div>
            {% if categorias %}
                {% for categoria in categorias %}
                    <a href="categoria/{{categoria.id}}">{{categoria.nombre}}</a>
                {% endfor %}
            {% else %}
                <a href="/blog">Volver</a>
            {% endif %}
        </div>
    <div class="container d-flex flex-wrap align-items-center">
        {% for post in posts %}
            <div class="card mb-3 border-secondary" style="margin:10px; background-color: rgb(90, 90, 90);">
                <div class="card-body text-light">
                  <h2 class="card-title">{{post.titulo}}</h2>
                  <p class="card-text">{{post.contenido}}</p>
                  <p class="card-text">{{post.user}}</p>
                </div>
            </div>
            
        {% endfor %}
    </div>
    </div>
{% endblock %}
